<div>
  <h3><%= @user.username %>'s profile</h3>

  <% if current_user&.eql? @user %>
    <%= link_to "Friend Requests List", profile_friend_requests_path(username: @user.username) %>, Followers: <%= display_follower_count(@user) %>
  <% end %>

  <p>
    <% if current_user&.eql? @user %>
      <%= link_to "Upload photos", new_photo_path %>
    <% end %>
  </p>

  <% if @user.photos.empty? %>
    <p>There is still no photos to display.</p>
  <% else %>
    <% @user.photos.each do |photo| %>
      <%= link_to photo_path(photo) do %>
        <%= image_tag photo.photo.variant(resize: '200', gravity: 'Center', crop: '200x200+0+0') %>
      <% end %>
    <% end %>
  <% end %>

    <% unless current_user&.eql? @user %>
      <% if already_initiated_friend_request?(@user.id, current_user.id) %>
        <p>You already have a pending friends request from <b><%= @user.username %>.</p>
      <% else %>
        <%= link_to "Add Friend", profile_add_friend_path(username: @user.username), method: :post %>  
      <% end %>
  <% end %> 
</div>
